.TuringNMPage {
    height: 100vh;
    background-image: linear-gradient(135deg, black, rgb(8, 8, 26) 30%, rgb(4, 4, 27));
    // background-image: url("https://img.Turingfreepik.Turingcom/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.Turingjpg?w=360");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
h1 {
    padding: 0vw;
    margin: 0vw;
}

.Turingheading {
    padding-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
    text-align: center;
    img {
        width: 10vh;
    }
}

.TuringdescGifGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
    img {
        width: 50vw;
        height: 60vh;
    }
    .Turingdesc {
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 991px) {
/* start of large tablet styles */

}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */
    
}

@media screen and (max-width: 479px) {
/* start of phone styles */
    .TuringdescGifGrid .Turingdesc{
        width: 90%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        font-size: small;
        
    }
    .TuringdescGifGrid img{
            height: 40vh;
        }
    .TuringdescGifGrid{
        justify-content: center;
    }
    .Turingheading{
        font-size: large;
    }
}
