.contactPage {
    background-image: linear-gradient(
        135deg,
        black,
        rgb(8, 8, 26) 30%,
        rgb(4, 4, 27)
    );
    color: white;
}

.turingLogo {
    width: 13vh;
    margin-left: 2vw;
}

.contactsGrid {
    display: flex;
    flex-direction: row;
    .row {
        // border: 2px solid red;
        margin-right: 2vw;
        font-size: 1.3vw;
    }
}

a:link,
a:visited,
a:hover {
    color: white;
    text-decoration: none;
}

.site {
    img {
        width: 3vw;
        margin: 1vw;
        margin-top: 0;
    }
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}

.extraLinks {
    margin-top: 1.5vw;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}

h1 {
    font-size: 2vw;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
}

@media screen and (max-width: 479px) {
    .turingLogo {
        width: 10vw;
    }
    .NMLogo {
        width: 25vw;
    }
    .site,
    .extraLinks {
        font-size: small;
    }
    h2 {
        font-size: large;
    }
}
